<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.study_room2.mapper.StudyRoomMapper">
    <select id="findAll" resultType="StudyRoom">
        SELECT * FROM study_room
    </select>
    <select id="findById" resultType="StudyRoom">
        SELECT * FROM study_room WHERE id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO study_room (name, description) VALUES (#{name}, #{description})
    </insert>
</mapper>
